<div>
    <div class="md:flex justify-evenly mb-6">
        <div class="flex justify-between mx-auto w-full">
            {% if pagination.href.previous %}
                <div class="mx-auto mb-4">
                    <a class="previous-page" href="{{ pagination.href.previous | url }}">上一页</a>
                </div>
            {% endif %}

            {% if pagination.href.next %}
                <div class="mx-auto mb-4">
                    <a class="next-page md:mb-2" href="{{ pagination.href.next | url }}">下一页</a>
                </div>
            {% endif %}
        </div>

        <div class="flex justify-between mx-auto w-full">
            {% if page.url !== pagination.href.first %}
                <div class="mx-auto mb-4">
                    <a class="first-page md:mb-2" href="{{ pagination.href.first | url }}">首页</a>
                </div>

            {% endif %}

            {% if page.url !== pagination.href.last %}
                <div class="mx-auto">
                    <a class="last-page" href="{{ pagination.href.last | url }}">末页</a>
                </div>
            {% endif %}
        </div>
    </div>

    <p class="text-center text-sm italic mb-10">
        {{ pagination.pageNumber + 1 }}/{{ pagination.pages.length }}
    </p>
</div>